.budget {
  .error {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 11%;
    width: 50%;
    display: none;
    padding: 30px;
    background-color: red;
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;

    @include breakpoint-down(medium) {
      width: 70%;
      left: 50%;
    }
  }

  .closebtn {
    margin-left: 15px;
    color: $b0;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }

  .accordion {
    background-color: $grayishBlue;
    color: $white;
    cursor: pointer;
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .activePanel {
    background-color: $b0;
  }

  .accordion:hover {
    background-color: $b1;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 15px;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: "\02795";
    font-size: 13px;
    float: right;
    background: $white;
    border-radius: 20px;
  }

  .activePanel:after {
    content: "\2796";
    color: $white;
  }

  .description {
    width: 100%;

    @include breakpoint-up(large) {
      width: 50%;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    transition: all 150ms ease-in-out;

    @include breakpoint-up(large) {
      &:hover {
        transform: scale(1.01);
      }
    }
  }

  .selected {
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    background-color: $white;
    box-shadow: 5px 10px 12px rgba(1, 57, 122, 0.541);
    border: 1px solid rgba(1, 57, 122, 0.541);
    transition: all 150ms ease-in-out;

    @include breakpoint-up(large) {
      &:hover {
        transform: scale(1.01);
      }
    }
  }

  &__image {
    height: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__map {
    height: 16.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__select {
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: $darkBlue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: -1%;
    left: 50%;
    transform: translateX(-50%);

    > span {
      position: absolute;
      width: 30px;
      height: 5px;
      background-color: $white;
      transition: all 300ms ease-in-out;
    }

    > span:first-child {
      transform: rotate(90deg);
    }

    > span:nth-child(2) {
      transform: rotate(-180deg);
    }
  }

  .close {
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: red;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: -1%;
    left: 50%;
    transform: translateX(-50%);

    > span {
      position: absolute;
      width: 30px;
      height: 5px;
      background-color: $white;
      transition: all 300ms ease-in-out;
    }

    > span:first-child {
      transform: rotate(135deg);
    }

    > span:nth-child(2) {
      transform: rotate(-135deg);
    }
  }

  &__text {
    padding: 0rem 0.875rem 1.5rem 0.875rem;
    color: $grayishBlue;
    text-align: center;
  }

  &__title {
    font-size: 1.5625rem;
    line-height: 1.2;
    color: $darkBlue;
    margin-bottom: 0.75rem;
  }

  &__subtitle {
    padding-bottom: 15px;
  }

  &__description {
    font-size: 1.0125rem;
  }

  &__more {
    display: none;
    padding-bottom: 25px;
    color: $darkBlue;
    align-items: center;

    .qty {
      width: 50%;
      max-height: 2rem;
      align-items: center;

      @include breakpoint-down(medium) {
        width: 40%;
      }

      p {
        margin: 0;
      }

      button {
        border: 1px solid $darkBlue;
        background-color: $darkBlue;
        font-size: 20px;
        cursor: pointer;
        color: $white;

        @include breakpoint-down(medium) {
          display: flex;
          align-items: center;
          padding: 2px;
        }
      }
    }

    select {
      width: 50%;
      width: 50%;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid $darkBlue;
      color: $darkBlue;
      font-size: 15px;
    }

    .model {
      width: 100%;
    }
  }

  .open {
    display: flex;
    width: 110%;
  }

  .collapsible {
    background-color: $b1;
    text-align: center;
    color: $white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;

    &-add {
      background-color: $white;
      text-align: center;
      color: $b0;
      cursor: pointer;
      border: 2px solid $b0;
      padding: 16px;
      width: 100%;
      outline: none;
      font-size: 15px;
      border-radius: 15px;
      transition: all 400ms ease-in-out;
      &:hover {
        background: $b0;
        border: 2px solid $b0;
        color: $white;
        border-radius: 15px;
        padding: 16px;
        transition: all 400ms ease-in-out;
      }
    }
  }
  .hide {
    display: none;
  }

  .activeInfo {
    background-color: $b2;
  }

  &__location {
    padding-top: 40px;
    text-align: center;
    margin-bottom: 32px;

    input[type="text"],
    input[type="number"],
    select {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;

      &:not(:last-child) {
        margin-right: 10px;
      }
      resize: vertical;

      &:focus {
        transition: all 400ms ease-in-out;
        box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
        outline: 1px solid $darkBlue;
      }
    }

    input[type="checkbox"] {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      margin-right: 10px;
      resize: vertical;
      cursor: pointer;
    }
  }

  &__information {
    overflow-y: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 50%;
    @include breakpoint-down(medium) {
      width: 100%;
    }
    label {
      cursor: pointer;
    }
    input[type="text"],
    select {
      width: 100%;
      padding: 12px;
      border: 1px solid $darkBlue;
      border-radius: 5px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      margin-right: 10px;
      resize: vertical;

      &:focus {
        transition: all 400ms ease-in-out;
        box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
        outline: 1px solid $darkBlue;
      }
    }
  }
  .primaryCta {
    position: relative;
    overflow: hidden;
    width: max-content;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }
  }

  .primaryCta button {
    padding: 22px 40px;
    font-size: $font-lg;
    background: linear-gradient(to right, $darkBlue, $navGrayishBlue);
    border: none;
    color: $white;
    cursor: pointer;
  }

  button:focus {
    outline: none;
  }

  .primaryCta::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: -25px;
    left: -25px;
    background-color: $lightGrayishBlue;
    transform: rotate(45deg);
  }

  .primaryCta::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $lightGrayishBlue;
    transform: rotate(45deg);
    right: -25px;
    bottom: -25px;
  }

  &__period {
    text-align: center;
    flex-direction: column;
  }

  &__point {
    position: relative;
    left: 23%;
    top: 2%;
  }

  .pin {
    width: 22px;
    height: 21px;
    border-radius: 50% 50% 50% 0;
    background: #89849b;
    position: relative;
    transform: rotate(-45deg);
    left: 50%;
    margin: -21px 0 0 -16px;
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
    &:after {
      content: "";
      width: 12px;
      height: 12px;
      margin: 5px -4px 10px -7px;
      background: #2f2f2f;
      position: absolute;
      border-radius: 50%;
    }
  }

  .pulse {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 13px 0px 0px -12px;
    transform: rotateX(55deg);
    z-index: -2;
    &:after {
      content: "";
      border-radius: 50%;
      height: 40px;
      width: 40px;
      position: absolute;
      margin: -13px 0 0 -20px;
      animation: pulsate 1s ease-out;
      animation-iteration-count: infinite;
      opacity: 0;
      box-shadow: 0 0 1px 2px #89849b;
      animation-delay: 1.1s;
    }
  }

  @keyframes pulsate {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }

  @keyframes bounce {
    0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
    }
    80% {
      transform: translateY(-10px) rotate(-45deg);
    }
    100% {
      transform: translateY(0) rotate(-45deg);
    }
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal-itens {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: $white;
    margin: 8% auto;
    padding: 20px;
    border: 2px solid $darkBlue;
    width: 100%;

    @include breakpoint-up(large) {
      width: 50%;
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        color: $b0;
      }
    }

    h3 {
      color: $b0;
      font-size: $font-med;
    }

    button {
      color: $white;
      border: none;
      width: 100%;
      height: 50px;
      background: $b0;
      border-radius: 7px;
      font-weight: 300;
      font-size: 21px;
      cursor: pointer;
      transition: all 300ms ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .modal-content-itens {
    background-color: $white;
    margin: 8% auto;
    padding: 40px;
    border: 2px solid $darkBlue;
    width: 50%;
    @include breakpoint-down(medium) {
      width: 100%;
      padding: 0;
    }
  }

  /* The Close Button */
  .closeModal {
    color: $darkBlue;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 300ms ease-in-out;

    @include breakpoint-down(medium) {
      padding-right: 5%;
    }

    &:hover,
    &:focus {
      color: red;
      text-decoration: none;
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .openSide {
    position: relative;
    background-color: $b0;
    text-align: center;
    color: $white;
    cursor: pointer;
    padding: 18px;
    width: 20%;
    height: 30%;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    transition: all 400ms ease-in-out;

    @include breakpoint-down(medium) {
      width: 40%;
      height: 60px;
      position: fixed;
      border-radius: 0px;
      top: 10%;
      left: 0%;

      &:hover {
        background-color: none;
        padding: 16px;
        border: 2px solid $darkBlue;
        transition: all 300ms ease-in-out;
        color: $b0;
      }
    }

    &:hover {
      background: none;
      padding: 16px;
      border: 2px solid $darkBlue;
      color: $b0;
      transition: all 300ms ease-in-out;
    }
  }
  table {
    background: #f5f5f5;
    border-collapse: collapse;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 100%;

    @include breakpoint-down(medium) {
      margin: 0;
      box-sizing: border-box;
    }

    .id {
      display: none;
    }

    th {
      border-bottom: 4px solid white;
      border-top: 2px solid white;
      background: linear-gradient($b0, $b2);
      color: #fff;
      font-weight: bold;
      padding: 10px 15px;
      position: relative;
      text-shadow: 0 1px 0 #000;

      @include breakpoint-down(medium) {
        padding: 0;
        text-align: center;
      }
    }

    tr {
      border-bottom: 2px solid white;
      border-top: 2px solid white;
    }

    td {
      // border-right: 1px solid #fff;
      // border-left: 1px solid #e8e8e8;
      // border-top: 1px solid #fff;
      // border-bottom: 1px solid #e8e8e8;
      padding: 10px 30px;
      position: relative;

      @include breakpoint-down(medium) {
        padding: 5px 10px;
      }
    }

    .remove {
      color: red;
      cursor: pointer;
    }
  }

  .loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  .loader-quart-1 {
    border-radius: 50px;
    border: 5px solid $b0;
  }

  .loader-quart-1:after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 5px solid transparent;
    border-top-color: #fff;
    border-radius: 50px;

    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
  }

  @-webkit-keyframes rotation {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes rotation {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
