.footer {
  background-color: #d2d2dd;
  color: $b1;
  padding: 2.5rem;
  text-align: center;
  margin-top: 2%;

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0;
  }

  h4 {
    font-weight: 400;
    line-height: 180%;
  }

  li {
    font-weight: 400;
    line-height: 200%;
    margin-top: 12px;
    text-align: left;
    padding: 2px;
    transition: all 400ms ease-in-out;
    a {
      padding: 6px;
      transition: all 400ms ease-in-out;
    }

    &:hover {
      a {
        background-color: $lightGrayishBlue;
        border: 2px solid $b0;
        padding: 4px;
        color: $b0;
        border-radius: 10px;
      }
    }
  }

  img {
    margin-bottom: 15%;
  }

  label {
    @include breakpoint-down(medium) {
      margin-top: 10%;
      margin-bottom: 5%;
    }
  }

  .container {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        "logo location1 contact  form"
        "cta location2 social copyright";
      gap: 1rem;
      justify-items: center;
    }
  }

  a {
    color: $white;
  }

  &__logo {
    display: inline-block;

    @include breakpoint-up(large) {
      grid-area: logo;
    }
  }

  &__social {
    @include breakpoint-down(medium) {
      margin-bottom: 1.875rem;
    }

    @include breakpoint-up(large) {
      grid-area: social;
      align-self: center;
    }

    a {
      display: inline-block;
      height: 1.25rem;

      svg path {
        transition: fill 150ms ease-in-out;
      }

      &:hover svg path {
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    a:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__location {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;

    @include breakpoint-up(large) {
      margin-right: 0.5rem;
      align-items: center;
    }

    &.location1 {
      @include breakpoint-up(large) {
        grid-area: location1;
      }
      @include breakpoint-down(medium) {
        margin-bottom: 1.875rem;
      }
    }

    &.location2 {
      @include breakpoint-down(medium) {
        margin-bottom: 1.875rem;
      }

      @include breakpoint-up(large) {
        grid-area: location2;
        width: 100%;
      }
    }

    a {
      text-align: left;
      line-height: 1.25;
      transition: color 150ms ease-in-out;
      color: $b1;

      &:hover {
        color: $darkBlue;
      }
    }
  }

  &__cta {
    @include breakpoint-up(large) {
      grid-area: cta;
      align-self: start;
    }

    a.button {
      @include breakpoint-down(medium) {
        margin-bottom: 1.875rem;
        justify-content: center;
      }
    }
  }

  &__contact {
    h4 {
      margin-bottom: 10%;
      line-height: 200%;
    }
    a {
      display: inline-block;
      height: 1.25rem;

      svg path {
        transition: fill 150ms ease-in-out;
      }

      &:hover svg path {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  &__form {
    width: 80%;
    height: 75%;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-down(medium) {
      margin-bottom: 1.875rem;
      width: 100%;
    }

    @include breakpoint-up(large) {
      grid-area: form;
    }

    label {
      cursor: pointer;
      padding-bottom: 2%;
    }

    input[type="text"],
    input[type="email"] {
      margin-bottom: 20px;
      width: 100%;
      height: 56px;
      font-size: 18px;
      font-weight: 400;
      padding-left: 5%;
      background: $lightGrayishBlue;
      color: rgba(63, 67, 71, 1);
      border-radius: 7px;
      border: none;
      transition: all 400ms ease-in-out;

      @include breakpoint-down(large) {
        width: 100%;
      }

      &:focus {
        transition: all 400ms ease-in-out;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
        outline: 1px solid $darkBlue;
      }
    }

    button {
      color: #ffffff;
      border: none;
      width: 100%;
      height: 50px;
      background: linear-gradient(to right, $darkBlue, $b2);
      border-radius: 7px;
      font-weight: 300;
      font-size: 21px;
      cursor: pointer;
      transition: all 300ms ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__copyright {
    font-size: 0.8125rem;
    color: $darkBlue;
  }

  /*  PRIMARY CTA  */
  .primaryCta {
    overflow: hidden;
    // width: max-content;

    @include breakpoint-up(large) {
      justify-self: center;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .primaryCta button {
    padding: 1rem 2rem;
    background: linear-gradient(to right, $darkBlue, $navGrayishBlue);
    color: $white;
    cursor: pointer;
    border: none;
  }

  button {
    font-size: $font-lg;
    line-height: 120%;
    border-radius: 15px;
  }

  button:focus {
    outline: none;
  }
}
