// PALETA AZUL
$darkBlue: hsla(236, 59%, 20%, 1);
$b0: hsla(236, 59%, 25%, 1);
$b1: hsla(236, 38%, 37%, 1);
$b2: hsla(235, 26%, 49%, 1);
$b3: rgb(35, 44, 161);

// PALETA ESCURA
$black1: hsla(0, 0, 0, 0.9);
$black2: hsla(0, 0, 11, 0.7);
$black3: hsla(204, 9, 21, 0.7);
$grayishBlue: hsla(210, 6%, 72%, 1);

// PALETA CLARA
$lightGrayishBlue: hsl(220, 16%, 96%);
$navGrayishBlue: hsl(220, 55%, 51%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsla(0, 0%, 100%, 1);

// OUTRAS PALETAS
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

// FONTES
$font-sm: 0.875rem; // 14px
$font-med: 1rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 2.5rem;
