.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  background-color: #f3f4f6;
  line-height: 1.3;
  overflow-x: hidden;
}

@media (min-width: 84em) {
  body {
    font-size: 1rem;
  }
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.15;
  color: #151951;
  margin-top: 0px;
}

h1 {
  margin-bottom: 1.5rem;
}

@media (min-width: 84em) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.575rem;
  margin-bottom: 1.5625rem;
}

@media (min-width: 84em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  max-width: 105.375rem;
  margin: 0 auto;
}

.container--nav {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 84em) {
  .container--nav {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--pall {
  padding-top: 4.375rem;
  padding-bottom: 1.375rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media (min-width: 87.5em) {
  .container--pall {
    padding-top: 7rem;
    padding-bottom: 8rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 84em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 2.375rem;
}

@media (min-width: 84em) {
  .container--pt {
    padding-top: 5.5rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 84em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 83.875em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 84em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(26, 31, 101, 0.5);
          box-shadow: 0px 0px 15px 3px rgba(26, 31, 101, 0.5);
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  /*  PRIMARY CTA  */
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#151951), to(transparent));
  background-image: linear-gradient(#151951, transparent);
}

.header nav {
  position: relative;
  background-color: white;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .sticky + .content {
  padding-top: 60px;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #151951;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 12rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  margin-top: 2rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  color: #151951;
  padding: 0.625rem;
  text-align: center;
  cursor: pointer;
}

.header__menu a:hover {
  color: #b3b8bc;
}

.header__links .active {
  color: #1a1f65;
}

.header__links .active::before {
  opacity: 1;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  font-weight: 400;
  color: #b3b8bc;
  cursor: pointer;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -30px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#151951), to(#b3b8bc));
  background: linear-gradient(to right, #151951, #b3b8bc);
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__links a:hover {
  color: #151951;
}

.header__links a:hover::before {
  opacity: 1;
}

.header .primaryCta {
  position: relative;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  -webkit-animation: shiny-btn1 3s ease-in-out infinite;
          animation: shiny-btn1 3s ease-in-out infinite;
}

.header .primaryCta:hover {
  cursor: pointer;
  opacity: 0.75;
}

.header .primaryCta button {
  padding: 16px 32px;
  background: -webkit-gradient(linear, left top, right top, from(#151951), to(#3d6bc7));
  background: linear-gradient(to right, #151951, #3d6bc7);
  border: none;
  cursor: pointer;
}

.header button {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
}

.header button:focus {
  outline: none;
}

.header .primaryCta::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -25px;
  left: -25px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .primaryCta::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -25px;
  bottom: -25px;
}

.hero .coming {
  background: -webkit-gradient(linear, left top, left bottom, from(#0066ff), to(transparent));
  background: linear-gradient(to bottom, #0066ff, transparent);
}

.hero .client {
  background: white;
  overflow: hidden;
}

.hero .client h1 {
  color: #1a1f65;
}

.hero .client p {
  color: #1a1f65;
}

.hero .client img {
  background-color: green;
  padding: 5px;
  border-radius: 15px;
}

.hero .container {
  position: relative;
  max-height: 100%;
  width: 100%;
}

@media (min-width: 84em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero #myVideo {
  position: absolute;
  right: 0%;
  max-height: 100%;
  bottom: 0;
  min-width: 100%;
}

@media (min-width: 52em) {
  .hero #myVideo {
    position: absolute;
    right: -21%;
    max-height: 133%;
    bottom: 0;
    min-width: 144%;
  }
}

.hero__image {
  position: relative;
  background: rgba(0, 0, 0, 0.4), url("/src/img/bgmain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 25rem;
  }
}

@media (min-width: 40em) and (min-width: 84em) {
  .hero__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 47rem;
  }
}

@media (min-width: 40em) and (min-width: 84em) {
  .hero__image::before {
    position: absolute;
    height: 41rem;
    background-image: url("/src/img/bgmain.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    background-size: 100%;
    background-position: 0% 0%;
  }
}

.hero__coming {
  position: relative;
  background: url("/src/svg/comingsoonBg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 40em) {
  .hero__coming {
    min-height: 28rem;
  }
}

@media (min-width: 40em) and (min-width: 84em) {
  .hero__coming {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 47rem;
  }
}

.hero__client {
  max-height: 100%;
  padding-top: 50%;
  position: relative;
  background: url("/src/img/newClientBg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 40em) {
  .hero__client {
    min-height: 25rem;
  }
}

@media (min-width: 40em) and (min-width: 84em) {
  .hero__client {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 100%;
  }
}

.hero__text {
  color: white;
  text-align: center;
  padding-top: 15%;
}

@media (min-width: 84em) {
  .hero__text {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.hero__text h1 {
  color: white;
}

.hero__text h3 {
  color: white;
}

.hero__text a {
  color: white;
  cursor: pointer;
}

.hero__text .cta-mobile img {
  margin-bottom: 5%;
}

@media (min-width: 40em) {
  .hero__text .cta-mobile {
    margin: 0 auto;
  }
}

.hero__text .detailMain {
  content: "";
  width: 10px;
  height: 17rem;
  background-color: white;
  margin: 0 4rem;
}

@media (min-width: 84em) {
  .hero__text {
    width: 46%;
    padding-top: 10%;
    text-align: left;
  }
}

.hero__content {
  background: none;
  color: white;
  text-align: center;
}

.hero__content h1 {
  color: white;
}

.hero__content h3 {
  color: white;
}

.hero__content a {
  color: white;
  cursor: pointer;
}

.hero__content .cta-mobile img {
  margin-bottom: 5%;
}

@media (min-width: 40em) {
  .hero__content .cta-mobile {
    margin: 0 auto;
  }
}

.hero__content .detailMain {
  content: "";
  width: 10px;
  height: 17rem;
  background-color: white;
  margin: 0 4rem;
}

@media (min-width: 84em) {
  .hero__content {
    width: 44%;
    text-align: left;
  }
}

.hero__icons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 7rem;
}

@media (min-width: 84em) {
  .hero__icons {
    width: 55%;
  }
}

.hero__icons .icon1 {
  padding-left: 13rem;
}

@media (max-width: 83.875em) {
  .hero__icons .icon1 {
    padding-left: 46%;
  }
}

@media (min-width: 84em) {
  .hero__icons .icon1 {
    padding-left: 11%;
  }
}

.hero__icons .icon2 {
  position: absolute;
  padding-right: 0rem;
  top: 85%;
  left: 5%;
}

@media (min-width: 84em) {
  .hero__icons .icon2 {
    top: 15%;
    left: 91%;
  }
}

.hero__icons .icon3 {
  position: absolute;
  padding-right: 0rem;
  top: 85%;
  left: 5%;
}

@media (min-width: 84em) {
  .hero__icons .icon3 {
    background-color: green;
    padding: 5px;
    border-radius: 15px;
    top: 25%;
    left: 91%;
  }
}

.hero__icons .icon4 {
  position: absolute;
  padding-right: 0rem;
  top: 85%;
  left: 5%;
}

@media (min-width: 84em) {
  .hero__icons .icon4 {
    position: fixed;
    z-index: 10000;
    background-color: green;
    padding: 5px;
    border-radius: 15px;
    top: 85%;
    left: 91%;
  }
}

.hero__icons .arrow-down {
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hero__icons .arrow-down span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  -webkit-animation: arrow-down 1s linear infinite;
          animation: arrow-down 1s linear infinite;
}

.hero__icons .arrow-down span:nth-child(1) {
  top: -30px;
  left: -30px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.hero__icons .arrow-down span:nth-child(2) {
  top: -15px;
  left: -15px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.hero__icons .arrow-down span:nth-child(3) {
  top: 0;
  left: 0;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.hero__icons .arrow-down span:nth-child(4) {
  top: 15px;
  left: 15px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.hero__icons .arrow-down span:nth-child(5) {
  top: 30px;
  left: 30px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes arrow-down {
  0% {
    border-color: #fff;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    border-color: #fff;
    -webkit-transform: translate(15px, 15px);
            transform: translate(15px, 15px);
  }
  20.1%,
  100% {
    border-color: #b3b8bc;
  }
}

@keyframes arrow-down {
  0% {
    border-color: #fff;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    border-color: #fff;
    -webkit-transform: translate(15px, 15px);
            transform: translate(15px, 15px);
  }
  20.1%,
  100% {
    border-color: #b3b8bc;
  }
}

.hero__iconsComing {
  height: 7rem;
}

@media (max-width: 83.875em) {
  .hero__iconsComing {
    padding-top: 0%;
  }
}

@media (min-width: 84em) {
  .hero__iconsComing {
    padding-top: 10%;
  }
}

.hero__iconsComing .icon3 {
  padding-top: 10%;
  padding-right: 50%;
}

@media (min-width: 84em) {
  .hero__iconsComing .icon3 {
    padding-right: 60%;
  }
}

.hero__iconsComing .icon4 {
  position: relative;
  padding-top: 10%;
}

.hero__iconsComing .arrow-down {
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(136deg);
          transform: rotate(136deg);
}

.hero__iconsComing .arrow-down span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  -webkit-animation: arrow-down 1s linear infinite;
          animation: arrow-down 1s linear infinite;
}

.hero__iconsComing .arrow-down span:nth-child(1) {
  top: -30px;
  left: -30px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.hero__iconsComing .arrow-down span:nth-child(2) {
  top: -15px;
  left: -15px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.hero__iconsComing .arrow-down span:nth-child(3) {
  top: 0;
  left: 0;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.hero__iconsComing .arrow-down span:nth-child(4) {
  top: 15px;
  left: 15px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.hero__iconsComing .arrow-down span:nth-child(5) {
  top: 30px;
  left: 30px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@keyframes arrow-down {
  0% {
    border-color: #fff;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    border-color: #fff;
    -webkit-transform: translate(15px, 15px);
            transform: translate(15px, 15px);
  }
  20.1%,
  100% {
    border-color: #b3b8bc;
  }
}

.hero__budgetBg {
  position: relative;
  background: url("/src/img/budgetBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 40em) {
  .hero__budgetBg {
    min-height: 25rem;
  }
}

@media (min-width: 40em) and (min-width: 84em) {
  .hero__budgetBg {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 20rem;
  }
}

@media (min-width: 40em) and (min-width: 84em) {
  .hero__budgetBg::before {
    position: absolute;
    height: 41rem;
    background-image: url("/src/img/aboutbanner.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    background-size: 100%;
    background-position: 0% 0%;
  }
}

.hero__fleetBg {
  position: relative;
  background: url("/src/img/fleetBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 40em) {
  .hero__fleetBg {
    min-height: 25rem;
  }
}

@media (min-width: 40em) and (min-width: 84em) {
  .hero__fleetBg {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 20rem;
  }
}

@media (min-width: 40em) and (min-width: 84em) {
  .hero__fleetBg::before {
    position: absolute;
    height: 41rem;
    background-image: url("/src/img/fleetBg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    background-size: 100%;
    background-position: 0% 0%;
  }
}

.hero__partnerBg {
  position: relative;
  background: url("/src/img/bgHome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 40em) {
  .hero__partnerBg {
    min-height: 25rem;
  }
}

@media (min-width: 40em) and (min-width: 84em) {
  .hero__partnerBg {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 20rem;
  }
}

@media (min-width: 40em) and (min-width: 84em) {
  .hero__partnerBg::before {
    position: absolute;
    height: 41rem;
    background-image: url("/src/img/aboutbanner.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    background-size: 100%;
    background-position: 0% 0%;
  }
}

.hero__budgetTxt {
  color: white;
  text-align: center;
}

.hero__budgetTxt h1 {
  color: white;
}

.hero__budgetTxt h3 {
  color: white;
}

.hero__budgetTxt a {
  color: white;
  cursor: pointer;
}

.hero__budgetTxt .cta-mobile img {
  margin-bottom: 5%;
}

@media (min-width: 40em) {
  .hero__budgetTxt .cta-mobile {
    margin: 0 auto;
  }
}

.hero__budgetTxt .detailMain {
  content: "";
  width: 10px;
  height: 17rem;
  background-color: white;
  margin: 0 4rem;
}

@media (min-width: 84em) {
  .hero__budgetTxt {
    width: 46%;
    margin-top: 5%;
    text-align: left;
  }
}

.hero__fleetTxt {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  height: 82%;
}

@media (max-width: 83.875em) {
  .hero__fleetTxt {
    padding-top: 15%;
  }
}

.hero__fleetTxt h1 {
  color: white;
}

.hero__fleetTxt h3 {
  color: white;
}

.hero__fleetTxt a {
  color: white;
  cursor: pointer;
}

.hero__fleetTxt .cta-mobile img {
  margin-bottom: 5%;
}

@media (min-width: 40em) {
  .hero__fleetTxt .cta-mobile {
    margin: 0 auto;
  }
}

.hero__fleetTxt .detailMain {
  content: "";
  width: 10px;
  height: 17rem;
  background-color: white;
  margin: 0 4rem;
}

@media (min-width: 84em) {
  .hero__fleetTxt {
    width: 55%;
    margin-top: 5%;
    text-align: left;
  }
}

.about {
  padding-bottom: 4rem;
  background-color: white;
  /*  PRIMARY CTA  */
  /*  SECONDARY CTA */
}

.about__content {
  text-align: center;
}

@media (min-width: 40em) {
  .about__content {
    text-align: left;
  }
}

@media (max-width: 83.875em) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.about__left {
  width: 100%;
  padding-top: 10%;
  background: url("/src/img/aboutbg.jpg");
  -webkit-box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  background-size: cover;
}

@media (min-width: 84em) {
  .about__left {
    width: 55%;
    height: 32rem;
    margin: 0;
  }
  .about__left:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (max-width: 83.875em) {
  .about__left {
    background: none;
    padding-top: 5%;
  }
}

.about__left h1 {
  color: #b3b8bc;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

@media (max-width: 83.875em) {
  .about__left h1 {
    color: rgba(49, 55, 58, 0.7);
    background-color: white;
  }
}

.about__left span {
  color: white;
}

@media (max-width: 83.875em) {
  .about__left span {
    color: #1a1f65;
  }
}

.about__right {
  width: 100%;
  margin-bottom: 0rem;
  margin-top: 2rem;
}

@media (min-width: 84em) {
  .about__right {
    width: 40%;
    margin: 0;
  }
}

.about__cta {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 40em) {
  .about__cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about .primaryCta {
  position: relative;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (min-width: 40em) {
  .about .primaryCta {
    margin-right: 3rem;
  }
}

@media (max-width: 83.875em) {
  .about .primaryCta {
    margin-bottom: 10%;
  }
}

.about .primaryCta:hover {
  opacity: 0.8;
}

.about .primaryCta a {
  color: white;
}

.about .primaryCta button {
  padding: 1rem 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#151951), to(#3d6bc7));
  background: linear-gradient(to right, #151951, #3d6bc7);
  color: white;
  cursor: pointer;
  border: none;
}

.about button {
  font-size: 1.25rem;
  line-height: 120%;
}

.about button:focus {
  outline: none;
}

.about .primaryCta::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -25px;
  left: -25px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.about .primaryCta::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -25px;
  bottom: -25px;
}

.about .secondaryCta {
  position: relative;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 83.875em) {
  .about .secondaryCta {
    margin-bottom: 10%;
  }
}

.about .secondaryCta:hover {
  opacity: 0.6;
}

.about .secondaryCta a {
  color: #151951;
}

.about .secondaryCta button {
  padding: 16px 32px;
  background-color: transparent;
  cursor: pointer;
  border: 2px #1a1f65 solid;
}

.about .secondaryCta::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -25px;
  left: -25px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 2px #3a3f82 solid;
}

.about .secondaryCta::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -25px;
  bottom: -25px;
  border: 2px #3a3f82 solid;
}

.aboutfeat {
  background-color: #f3f4f6;
  text-align: center;
  margin-top: 5%;
}

.aboutfeat__content {
  background: url("/src/img/aboutbanner.jpg");
  background-size: cover;
  background-position: 0% 70%;
  width: 100%;
}

@media (max-width: 83.875em) {
  .aboutfeat__content {
    background: none;
  }
}

@media (min-width: 40em) {
  .aboutfeat {
    text-align: center;
  }
}

.aboutfeat__intro {
  margin-bottom: 3.75rem;
  text-align: center;
}

@media (min-width: 84em) {
  .aboutfeat__intro {
    width: 100%;
  }
}

.aboutfeat__grid {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

@media (min-width: 84em) {
  .aboutfeat__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.aboutfeat__item {
  padding: 0.9375rem;
}

@media (min-width: 40em) {
  .aboutfeat__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 84em) {
  .aboutfeat__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.aboutfeat__icon {
  margin-bottom: 1.875rem;
}

@media (min-width: 84em) {
  .aboutfeat__icon {
    margin-bottom: 2.75rem;
  }
}

.aboutfeat__title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  color: white;
  margin-bottom: 1rem;
}

@media (min-width: 84em) {
  .aboutfeat__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.aboutfeat__description {
  color: white;
  font-size: 1rem;
  line-height: 1.5;
}

.mobileCards {
  padding: 0.9375rem;
}

@media (max-width: 83.875em) {
  .mobileCards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 84em) {
  .mobileCards {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.card {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1a1f65), color-stop(80%, #5c629d));
  background: linear-gradient(#1a1f65, #5c629d 80%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.9375rem;
}

.card h3 {
  color: white;
  padding-top: 10%;
}

.card p {
  color: white;
}

@media (max-width: 83.875em) {
  .card {
    width: 100%;
    margin-bottom: 15%;
  }
}

@media (min-width: 40em) {
  .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 84em) {
  .card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.rent {
  margin-bottom: 4rem;
  /*  PRIMARY CTA  */
  /*  SECONDARY CTA */
}

.rent__content {
  text-align: center;
}

@media (min-width: 40em) {
  .rent__content {
    text-align: left;
  }
}

@media (max-width: 83.875em) {
  .rent__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.rent__left {
  width: 100%;
  margin-bottom: 5rem;
}

@media (min-width: 84em) {
  .rent__left {
    width: 40%;
    margin: 0;
  }
}

.rent__right {
  width: 100%;
  padding-top: 3%;
  background: url("/src/img/rentImg.jpg");
  -webkit-box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 84em) {
  .rent__right {
    width: 55%;
    margin: 0;
  }
  .rent__right:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (max-width: 83.875em) {
  .rent__right {
    background: none;
  }
}

.rent__right h1 {
  color: #b3b8bc;
  text-align: center;
}

@media (max-width: 83.875em) {
  .rent__right h1 {
    color: rgba(49, 55, 58, 0.7);
    background-color: #f3f4f6;
  }
}

.rent__right span {
  color: white;
}

@media (max-width: 83.875em) {
  .rent__right span {
    color: #1a1f65;
  }
}

.rent__cta {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 40em) {
  .rent__cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.rent .primaryCta {
  position: relative;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (min-width: 40em) {
  .rent .primaryCta {
    margin-right: 3rem;
  }
}

@media (max-width: 83.875em) {
  .rent .primaryCta {
    margin-bottom: 5%;
  }
}

.rent .primaryCta:hover {
  opacity: 0.8;
}

.rent .primaryCta a {
  color: white;
}

.rent .primaryCta button {
  padding: 1rem 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#151951), to(#3d6bc7));
  background: linear-gradient(to right, #151951, #3d6bc7);
  color: white;
  cursor: pointer;
  border: none;
}

.rent button {
  font-size: 1.25rem;
  line-height: 120%;
}

.rent button:focus {
  outline: none;
}

.rent .primaryCta::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -25px;
  left: -25px;
  background-color: #f3f4f6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rent .primaryCta::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f3f4f6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -25px;
  bottom: -25px;
}

.rent .secondaryCta {
  position: relative;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.rent .secondaryCta:hover {
  opacity: 0.6;
}

.rent .secondaryCta a {
  color: #151951;
}

.rent .secondaryCta button {
  padding: 16px 32px;
  background-color: transparent;
  cursor: pointer;
  border: 2px #1a1f65 solid;
}

.rent .secondaryCta::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -25px;
  left: -25px;
  background-color: #f3f4f6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 2px #3a3f82 solid;
}

.rent .secondaryCta::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f3f4f6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -25px;
  bottom: -25px;
  border: 2px #3a3f82 solid;
}

.logistic {
  background-color: white;
  /*  SECONDARY CTA */
}

.logistic__content {
  text-align: center;
}

@media (min-width: 40em) {
  .logistic__content {
    text-align: left;
  }
}

@media (max-width: 83.875em) {
  .logistic__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.logistic__content img {
  width: 90%;
  padding-top: 2rem;
}

@media (min-width: 84em) {
  .logistic__content img {
    width: 90%;
  }
}

@media (max-width: 83.875em) {
  .logistic__content img {
    width: 70%;
  }
}

.logistic__left {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background: url("/src/img/logisticsBG1.jpg");
  -webkit-box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 84em) {
  .logistic__left {
    width: 50%;
    margin: 0;
  }
  .logistic__left:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (max-width: 83.875em) {
  .logistic__left {
    background: none;
    margin-bottom: 10%;
    background-color: #f3f4f6;
  }
}

.logistic__left h1 {
  color: #b3b8bc;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

@media (max-width: 83.875em) {
  .logistic__left h1 {
    color: rgba(49, 55, 58, 0.7);
    background-color: #f3f4f6;
  }
}

.logistic__left span {
  color: white;
}

@media (max-width: 83.875em) {
  .logistic__left span {
    color: #1a1f65;
  }
}

.logistic__right {
  width: 100%;
}

@media (min-width: 84em) {
  .logistic__right {
    width: 45%;
    margin: 0;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logistic__right span {
  color: #151951;
}

.logistic__cta {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 40em) {
  .logistic__cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 83.875em) {
  .logistic__cta {
    padding-left: 30%;
  }
}

.logistic .secondaryCta {
  position: relative;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 1rem;
}

.logistic .secondaryCta a {
  font-size: 1rem;
  color: #1a1f65;
}

.logistic .secondaryCta:hover {
  opacity: 0.6;
}

.logistic .secondaryCta button {
  padding: 1.5rem 3rem;
  background-color: transparent;
  cursor: pointer;
  border: 2px #1a1f65 solid;
}

.logistic .secondaryCta::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -25px;
  left: -25px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 2px #3a3f82 solid;
}

.logistic .secondaryCta::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -25px;
  bottom: -25px;
  border: 2px #3a3f82 solid;
}

.feature {
  background-color: #f3f4f6;
  text-align: center;
}

.feature__content {
  background: url("/src/img/banner.jpg");
  background-size: cover;
  background-position: 0% 30%;
}

@media (min-width: 40em) {
  .feature {
    text-align: left;
  }
}

.feature__intro {
  margin-bottom: 3.75rem;
  text-align: center;
}

@media (min-width: 84em) {
  .feature__intro {
    width: 100%;
  }
}

@media (min-width: 40em) {
  .feature__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature__item {
  padding: 0.9375rem;
}

@media (min-width: 40em) {
  .feature__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 84em) {
  .feature__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.feature__icon {
  margin-bottom: 1.875rem;
}

@media (min-width: 84em) {
  .feature__icon {
    margin-bottom: 2.75rem;
  }
}

.feature__title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  color: white;
  margin-bottom: 1rem;
}

@media (min-width: 84em) {
  .feature__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.feature__description {
  color: white;
  font-size: 1rem;
  line-height: 1.5;
}

.tech {
  background-color: #f3f4f6;
  padding-bottom: 0rem;
}

.tech__content {
  text-align: center;
}

@media (min-width: 40em) {
  .tech__content {
    text-align: left;
  }
}

@media (max-width: 83.875em) {
  .tech__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.tech__content img {
  width: 90%;
  padding-top: 2rem;
}

@media (min-width: 84em) {
  .tech__content img {
    width: 70%;
  }
}

@media (max-width: 83.875em) {
  .tech__content img {
    width: 70%;
  }
}

.tech__content li {
  padding-bottom: 7%;
}

.tech__left {
  width: 100%;
  margin-bottom: 3rem;
}

@media (min-width: 84em) {
  .tech__left {
    width: 40%;
    margin: 0;
  }
}

.tech__right {
  width: 100%;
}

@media (min-width: 84em) {
  .tech__right {
    width: 50%;
    margin: 0;
  }
}

.tech__right h1 {
  color: #151951;
}

.techfeat {
  background-color: #f3f4f6;
  text-align: center;
}

.techfeat__content {
  background: url("/src/img/bgTech.jpg");
  background-size: cover;
  background-position: 0% 30%;
}

@media (min-width: 40em) {
  .techfeat {
    text-align: left;
  }
}

.techfeat__intro {
  margin-bottom: 3.75rem;
  text-align: center;
}

@media (min-width: 84em) {
  .techfeat__intro {
    width: 100%;
  }
}

@media (min-width: 40em) {
  .techfeat__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.techfeat__item {
  padding: 0.9375rem;
}

@media (min-width: 40em) {
  .techfeat__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 84em) {
  .techfeat__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.techfeat__icon {
  margin-bottom: 0.875rem;
}

@media (min-width: 84em) {
  .techfeat__icon {
    margin-bottom: 1.75rem;
  }
}

.techfeat__icon h2 {
  color: white;
}

.techfeat__title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  color: white;
  margin-bottom: 1rem;
}

@media (min-width: 84em) {
  .techfeat__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.techfeat__description {
  color: white;
  font-size: 1rem;
  line-height: 2;
  width: 35%;
}

@media (max-width: 83.875em) {
  .techfeat__description {
    width: 100%;
  }
}

.techfeat__description button {
  padding: 1rem 2rem;
  background-color: transparent;
  cursor: pointer;
  border: 2px white solid;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.techfeat__description button a {
  color: white;
}

.techfeat__description button:hover {
  background-color: white;
  color: #1a1f65;
}

.articles {
  background-color: #fafafa;
}

.article {
  background-color: white;
}

.article__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .article__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 84em) {
  .article__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.article__item {
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

@media (min-width: 84em) {
  .article__item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.article__image {
  height: 16.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.article__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: #b3b8bc;
}

@media (min-width: 40em) {
  .article__text {
    padding: 1.875rem 1.562rem;
  }
}

.article__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}

.article__title {
  font-size: 1.5625rem;
  line-height: 1.2;
  color: #151951;
  margin-bottom: 0.75rem;
}

.article__description {
  font-size: 1.0125rem;
}

.contactfeat {
  background-color: #f3f4f6;
  text-align: center;
  /*  PRIMARY CTA  */
  /*  SECONDARY CTA */
}

.contactfeat__content {
  background: url("/src/img/contactbg.jpg");
  background-size: cover;
  background-position: 0% 50%;
}

@media (min-width: 40em) {
  .contactfeat {
    text-align: left;
  }
}

.contactfeat__intro {
  margin-bottom: 3.75rem;
  text-align: center;
}

@media (min-width: 84em) {
  .contactfeat__intro {
    width: 100%;
  }
}

@media (min-width: 40em) {
  .contactfeat__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contactfeat__item {
  padding: 0.9375rem;
}

@media (min-width: 40em) {
  .contactfeat__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 84em) {
  .contactfeat__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.contactfeat__icon {
  margin-bottom: 1.875rem;
}

@media (min-width: 84em) {
  .contactfeat__icon {
    margin-bottom: 2.75rem;
  }
}

.contactfeat__title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  color: white;
  margin-bottom: 1rem;
}

@media (min-width: 84em) {
  .contactfeat__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.contactfeat__description {
  color: white;
  font-size: 1rem;
  line-height: 1.5;
}

.contactfeat h1 {
  color: white;
}

.contactfeat .primaryCta {
  position: relative;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (min-width: 40em) {
  .contactfeat .primaryCta {
    margin-right: 3rem;
    width: 100%;
  }
}

@media (max-width: 83.875em) {
  .contactfeat .primaryCta {
    margin-bottom: 10%;
  }
}

.contactfeat .primaryCta:hover {
  opacity: 0.8;
}

.contactfeat .primaryCta button {
  padding: 1rem 2rem;
  background: white;
  color: #151951;
  cursor: pointer;
  border: none;
}

.contactfeat button {
  font-size: 1.25rem;
  line-height: 120%;
  color: #151951;
  border-radius: 15px;
}

.contactfeat button:focus {
  outline: none;
}

.contactfeat .primaryCta::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -25px;
  left: -25px;
  background-color: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contactfeat .primaryCta::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -25px;
  bottom: -25px;
}

.contactfeat .secondaryCta {
  position: relative;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.contactfeat .secondaryCta button {
  padding: 16px 32px;
  background-color: transparent;
  cursor: pointer;
  border: 1px linear-gradient(to right, #151951, #3d6bc7) solid;
}

.contactfeat .secondaryCta::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -25px;
  left: -25px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 2px #3a3f82 solid;
}

.contactfeat .secondaryCta::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -25px;
  bottom: -25px;
  border: 2px #3a3f82 solid;
}

.budget {
  /* Modal Content/Box */
  /* The Close Button */
}

.budget .error {
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 11%;
  width: 50%;
  display: none;
  padding: 30px;
  background-color: red;
  border-radius: 10px;
  color: white;
  margin-bottom: 15px;
}

@media (max-width: 83.875em) {
  .budget .error {
    width: 70%;
    left: 50%;
  }
}

.budget .closebtn {
  margin-left: 15px;
  color: #1a1f65;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.budget .closebtn:hover {
  color: black;
}

.budget .accordion {
  background-color: #b3b8bc;
  color: white;
  cursor: pointer;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.budget .activePanel {
  background-color: #1a1f65;
}

.budget .accordion:hover {
  background-color: #3a3f82;
}

.budget .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 15px;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.budget .accordion:after {
  content: "\02795";
  font-size: 13px;
  float: right;
  background: white;
  border-radius: 20px;
}

.budget .activePanel:after {
  content: "\2796";
  color: white;
}

.budget .description {
  width: 100%;
}

@media (min-width: 84em) {
  .budget .description {
    width: 50%;
  }
}

.budget__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .budget__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 84em) {
  .budget__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.budget__item {
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

@media (min-width: 84em) {
  .budget__item:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}

.budget .selected {
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 5px 10px 12px rgba(1, 57, 122, 0.541);
          box-shadow: 5px 10px 12px rgba(1, 57, 122, 0.541);
  border: 1px solid rgba(1, 57, 122, 0.541);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

@media (min-width: 84em) {
  .budget .selected:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}

.budget__image {
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.budget__map {
  height: 16.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.budget__select {
  cursor: pointer;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  background-color: #151951;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: -1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.budget__select > span {
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.budget__select > span:first-child {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.budget__select > span:nth-child(2) {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.budget .close {
  cursor: pointer;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  background-color: red;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: -1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.budget .close > span {
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.budget .close > span:first-child {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.budget .close > span:nth-child(2) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.budget__text {
  padding: 0rem 0.875rem 1.5rem 0.875rem;
  color: #b3b8bc;
  text-align: center;
}

.budget__title {
  font-size: 1.5625rem;
  line-height: 1.2;
  color: #151951;
  margin-bottom: 0.75rem;
}

.budget__subtitle {
  padding-bottom: 15px;
}

.budget__description {
  font-size: 1.0125rem;
}

.budget__more {
  display: none;
  padding-bottom: 25px;
  color: #151951;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.budget__more .qty {
  width: 50%;
  max-height: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 83.875em) {
  .budget__more .qty {
    width: 40%;
  }
}

.budget__more .qty p {
  margin: 0;
}

.budget__more .qty button {
  border: 1px solid #151951;
  background-color: #151951;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

@media (max-width: 83.875em) {
  .budget__more .qty button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2px;
  }
}

.budget__more select {
  width: 50%;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #151951;
  color: #151951;
  font-size: 15px;
}

.budget__more .model {
  width: 100%;
}

.budget .open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110%;
}

.budget .collapsible {
  background-color: #3a3f82;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 15px;
}

.budget .collapsible-add {
  background-color: white;
  text-align: center;
  color: #1a1f65;
  cursor: pointer;
  border: 2px solid #1a1f65;
  padding: 16px;
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 15px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.budget .collapsible-add:hover {
  background: #1a1f65;
  border: 2px solid #1a1f65;
  color: white;
  border-radius: 15px;
  padding: 16px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.budget .hide {
  display: none;
}

.budget .activeInfo {
  background-color: #5c629d;
}

.budget__location {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 32px;
}

.budget__location input[type="text"],
.budget__location input[type="number"],
.budget__location select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.budget__location input[type="text"]:not(:last-child),
.budget__location input[type="number"]:not(:last-child),
.budget__location select:not(:last-child) {
  margin-right: 10px;
}

.budget__location input[type="text"]:focus,
.budget__location input[type="number"]:focus,
.budget__location select:focus {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
  outline: 1px solid #151951;
}

.budget__location input[type="checkbox"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 10px;
  resize: vertical;
  cursor: pointer;
}

.budget__information {
  overflow-y: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 50%;
}

@media (max-width: 83.875em) {
  .budget__information {
    width: 100%;
  }
}

.budget__information label {
  cursor: pointer;
}

.budget__information input[type="text"],
.budget__information select {
  width: 100%;
  padding: 12px;
  border: 1px solid #151951;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 10px;
  resize: vertical;
}

.budget__information input[type="text"]:focus,
.budget__information select:focus {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
  outline: 1px solid #151951;
}

.budget .primaryCta {
  position: relative;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

.budget .primaryCta:hover {
  cursor: pointer;
  opacity: 0.75;
}

.budget .primaryCta button {
  padding: 22px 40px;
  font-size: 1.25rem;
  background: -webkit-gradient(linear, left top, right top, from(#151951), to(#3d6bc7));
  background: linear-gradient(to right, #151951, #3d6bc7);
  border: none;
  color: white;
  cursor: pointer;
}

.budget button:focus {
  outline: none;
}

.budget .primaryCta::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -25px;
  left: -25px;
  background-color: #f3f4f6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.budget .primaryCta::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f3f4f6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -25px;
  bottom: -25px;
}

.budget__period {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.budget__point {
  position: relative;
  left: 23%;
  top: 2%;
}

.budget .pin {
  width: 22px;
  height: 21px;
  border-radius: 50% 50% 50% 0;
  background: #89849b;
  position: relative;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 50%;
  margin: -21px 0 0 -16px;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.budget .pin:after {
  content: "";
  width: 12px;
  height: 12px;
  margin: 5px -4px 10px -7px;
  background: #2f2f2f;
  position: absolute;
  border-radius: 50%;
}

.budget .pulse {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 13px 0px 0px -12px;
  -webkit-transform: rotateX(55deg);
          transform: rotateX(55deg);
  z-index: -2;
}

.budget .pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -20px;
  -webkit-animation: pulsate 1s ease-out;
          animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
  -webkit-box-shadow: 0 0 1px 2px #89849b;
          box-shadow: 0 0 1px 2px #89849b;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px) rotate(-45deg);
            transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px) rotate(-45deg);
            transform: translateY(30px) rotate(-45deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px) rotate(-45deg);
            transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px) rotate(-45deg);
            transform: translateY(30px) rotate(-45deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
}

.budget .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.budget .modal-itens {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.budget .modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 2px solid #151951;
  width: 100%;
}

@media (min-width: 84em) {
  .budget .modal-content {
    width: 50%;
  }
}

.budget .modal-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.budget .modal-content ul li {
  color: #1a1f65;
}

.budget .modal-content h3 {
  color: #1a1f65;
  font-size: 1rem;
}

.budget .modal-content button {
  color: white;
  border: none;
  width: 100%;
  height: 50px;
  background: #1a1f65;
  border-radius: 7px;
  font-weight: 300;
  font-size: 21px;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.budget .modal-content button:hover {
  opacity: 0.7;
}

.budget .modal-content-itens {
  background-color: white;
  margin: 8% auto;
  padding: 40px;
  border: 2px solid #151951;
  width: 50%;
}

@media (max-width: 83.875em) {
  .budget .modal-content-itens {
    width: 100%;
    padding: 0;
  }
}

.budget .closeModal {
  color: #151951;
  float: right;
  font-size: 28px;
  font-weight: bold;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (max-width: 83.875em) {
  .budget .closeModal {
    padding-right: 5%;
  }
}

.budget .closeModal:hover, .budget .closeModal:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.budget .openSide {
  position: relative;
  background-color: #1a1f65;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 20%;
  height: 30%;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 15px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

@media (max-width: 83.875em) {
  .budget .openSide {
    width: 40%;
    height: 60px;
    position: fixed;
    border-radius: 0px;
    top: 10%;
    left: 0%;
  }
  .budget .openSide:hover {
    background-color: none;
    padding: 16px;
    border: 2px solid #151951;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    color: #1a1f65;
  }
}

.budget .openSide:hover {
  background: none;
  padding: 16px;
  border: 2px solid #151951;
  color: #1a1f65;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.budget table {
  background: #f5f5f5;
  border-collapse: collapse;
  -webkit-box-shadow: inset 0 1px 0 #fff;
          box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  line-height: 24px;
  margin: 30px auto;
  text-align: left;
  width: 100%;
}

@media (max-width: 83.875em) {
  .budget table {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.budget table .id {
  display: none;
}

.budget table th {
  border-bottom: 4px solid white;
  border-top: 2px solid white;
  background: -webkit-gradient(linear, left top, left bottom, from(#1a1f65), to(#5c629d));
  background: linear-gradient(#1a1f65, #5c629d);
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #000;
}

@media (max-width: 83.875em) {
  .budget table th {
    padding: 0;
    text-align: center;
  }
}

.budget table tr {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.budget table td {
  padding: 10px 30px;
  position: relative;
}

@media (max-width: 83.875em) {
  .budget table td {
    padding: 5px 10px;
  }
}

.budget table .remove {
  color: red;
  cursor: pointer;
}

.budget .loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.budget .loader-quart-1 {
  border-radius: 50px;
  border: 5px solid #1a1f65;
}

.budget .loader-quart-1:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-radius: 50px;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.partner {
  background-color: white;
}

.partner__intro {
  width: 90%;
}

.partner__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .partner__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 84em) {
  .partner__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.partner__item {
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

@media (min-width: 84em) {
  .partner__item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.partner__image {
  height: 16.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.partner__image__logo {
  height: 16.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 1px solid #b3b8bc;
}

.partner__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: #b3b8bc;
}

@media (min-width: 40em) {
  .partner__text {
    padding: 1.875rem 1.562rem;
  }
}

.partner__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}

.partner__title {
  font-size: 1.5625rem;
  line-height: 1.2;
  color: #151951;
  margin-bottom: 0.75rem;
}

.partner__description {
  font-size: 1.0125rem;
}

.partner__contact {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

@media (max-width: 83.875em) {
  .partner__contact {
    margin-top: 15%;
    margin-bottom: 5%;
  }
}

.partner__contact h1 {
  margin-bottom: 5%;
}

@media (max-width: 83.875em) {
  .partner__contact h1 {
    margin-bottom: 12%;
  }
}

.partner__contact a {
  padding: 32px 32px;
  background: #1a1f65;
  color: white;
  border-radius: 15px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin-top: 5%;
}

.partner__contact a:hover {
  background: none;
  border: 2px solid #1a1f65;
  color: #151951;
}

/* INNER NAVIGATION */
.navInnerPages {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 5%;
  z-index: -999;
  cursor: pointer;
}

.navInnerPages > * {
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  margin: 0 32px;
  padding: 16px 40px;
  font-size: 20px;
  color: #1e2149;
  border: none;
  background-color: transparent;
  opacity: 0.8;
  -webkit-transition: 600ms;
  transition: 600ms;
  cursor: pointer;
}

.navInnerPages > *::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  top: -10px;
  left: -10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f6f6f6;
}

.navInnerPages > *::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: -10px;
  right: -10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f6f6f6;
}

.activeBtnNav {
  opacity: 1;
  color: white;
  background-color: #1e2149;
}

/* HEADER FLEET */
.headerFleet {
  color: #1a1f65;
  font-size: 20px;
  width: 17%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (max-width: 83.875em) {
  .headerFleet {
    position: relative;
  }
}

main {
  padding: 0 80px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main > *:nth-child(3n + 2) {
  margin: 0 36px;
}

/* SINGULAR MACHINERY CARD */
.cardMachinery {
  width: 29vw;
  margin-bottom: 40px;
}

.machineryData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 32px;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}

.machineryData > img {
  -o-object-fit: contain;
     object-fit: contain;
}

.machineryData > .data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: right;
      align-content: right;
  text-align: right;
}

.machineryData > .data > div > img {
  margin-right: 16px;
}

.hp {
  width: 16px;
}

.weight {
  height: 18px;
}

.machineryData > .data > div {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data h3 {
  margin-bottom: 32px;
}

.data p {
  padding: 0;
  font-size: 12px;
}

.data > :nth-child(4) {
  margin-top: 16px;
}

.ctaCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ctaCard > button:nth-child(1) {
  position: relative;
}

.ctaCard > button:nth-child(1):after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: -10px;
  left: -10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f6f6f6;
  z-index: 0;
}

.ctaCard > button:nth-child(2) {
  background: #1e2149;
  color: white;
}

.ctaCard > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px;
  padding: 16px 32px;
  border: none;
  background-color: white;
  width: 100%;
  text-align: left;
  color: #1e2149;
}

.ctaCard > button > img {
  margin-left: 16px;
}

/* MODAL */
.modal1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
  opacity: 0;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.bgModal {
  -webkit-transition: 600ms;
  transition: 600ms;
  z-index: 99;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContainer {
  -webkit-transition: 600ms;
  transition: 600ms;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 40vw;
  height: auto;
  max-height: 90vh;
  overflow-y: scroll;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  padding: 40px 64px;
  background-color: white;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.modalContainer p {
  padding: 0;
  margin-top: 32px;
  font-size: 12px;
}

.modalRequest .machineryData {
  padding: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.itemRequest {
  margin: 64px 0;
}

.modalRequest .data {
  margin-left: 32px;
}

.modalRequest .machineryData::after {
  content: "";
  z-index: 99;
  height: 100%;
  width: 4px;
  margin: 0 64px;
  background-color: rgba(141, 143, 169, 0.377);
}

label {
  position: relative;
}

label h4 {
  position: absolute;
  padding: 0 2px;
  background-color: white;
  top: -14px;
  left: 4px;
}

label input[type="number"] {
  padding: 10px 12px;
  border: 1px solid rgba(141, 143, 169, 0.377);
}

.infoRequest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infoRequest > *:nth-child(even) {
  margin: 40px 0 0;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

select {
  width: 128px;
  padding: 10px 12px;
  margin-top: 16px;
  border: 1px solid rgba(141, 143, 169, 0.377);
}

.modalContent .ctaCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.modalContent button {
  background-color: #1e2149;
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 18px;
}

.modalContent button:nth-child(1):after {
  background-color: white;
}

.modalContent .ctaCard > button:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  top: -10px;
  right: -10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
  z-index: 0;
}

@media (max-width: 1919px) {
  .cardMachinery {
    width: 48%;
  }
  main > *:nth-child(3n + 2) {
    margin: 32px 0;
  }
  main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main > :nth-child(3n + 2) {
    margin: 0 0px;
  }
}

@media (max-width: 1300px) {
  .navInnerPages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navInnerPages > *:nth-child(even) {
    margin: 32px 5vw;
  }
  .headerFleet {
    padding: 40px 5vw 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filterBtn {
    margin-top: 32px;
  }
  .cardMachinery {
    width: 100%;
  }
  .constructionSection > * {
    margin: 32px 0;
  }
  .machineryData {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .data {
    margin-top: 32px;
  }
  .data h3 {
    font-size: 22px;
  }
  main {
    padding: 0 5vw 10vh;
  }
  .filter {
    width: 85%;
  }
  .modalContainer {
    padding: 5vh 5vw;
    width: 100%;
    overflow-x: hidden;
    top: auto;
    left: auto;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    bottom: 0;
  }
  .itemRequest {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .machineryData {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .machineryData > img {
    width: 50%;
  }
  .machineryData::after {
    display: none;
  }
  .data {
    margin: 0;
  }
  .infoRequest {
    margin-top: 32px;
  }
  .time {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  select {
    margin: 0 0 0 16px;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #b3b8bc;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.footer {
  background-color: #d2d2dd;
  color: #3a3f82;
  padding: 2.5rem;
  text-align: center;
  margin-top: 2%;
  /*  PRIMARY CTA  */
}

.footer h1,
.footer h2,
.footer h3,
.footer h4 {
  margin-bottom: 0;
}

.footer h4 {
  font-weight: 400;
  line-height: 180%;
}

.footer li {
  font-weight: 400;
  line-height: 200%;
  margin-top: 12px;
  text-align: left;
  padding: 2px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.footer li a {
  padding: 6px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.footer li:hover a {
  background-color: #f3f4f6;
  border: 2px solid #1a1f65;
  padding: 4px;
  color: #1a1f65;
  border-radius: 10px;
}

.footer img {
  margin-bottom: 15%;
}

@media (max-width: 83.875em) {
  .footer label {
    margin-top: 10%;
    margin-bottom: 5%;
  }
}

@media (min-width: 84em) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
        grid-template-areas: "logo location1 contact  form" "cta location2 social copyright";
    gap: 1rem;
    justify-items: center;
  }
}

.footer a {
  color: white;
}

.footer__logo {
  display: inline-block;
}

@media (min-width: 84em) {
  .footer__logo {
    grid-area: logo;
  }
}

@media (max-width: 83.875em) {
  .footer__social {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 84em) {
  .footer__social {
    grid-area: social;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer__social a {
  display: inline-block;
  height: 1.25rem;
}

.footer__social a svg path {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}

.footer__social a:hover svg path {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__social a:not(:last-child) {
  margin-right: 1rem;
}

.footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

@media (min-width: 84em) {
  .footer__location {
    margin-right: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 84em) {
  .footer__location.location1 {
    grid-area: location1;
  }
}

@media (max-width: 83.875em) {
  .footer__location.location1 {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 83.875em) {
  .footer__location.location2 {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 84em) {
  .footer__location.location2 {
    grid-area: location2;
    width: 100%;
  }
}

.footer__location a {
  text-align: left;
  line-height: 1.25;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  color: #3a3f82;
}

.footer__location a:hover {
  color: #151951;
}

@media (min-width: 84em) {
  .footer__cta {
    grid-area: cta;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (max-width: 83.875em) {
  .footer__cta a.button {
    margin-bottom: 1.875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__contact h4 {
  margin-bottom: 10%;
  line-height: 200%;
}

.footer__contact a {
  display: inline-block;
  height: 1.25rem;
}

.footer__contact a svg path {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}

.footer__contact a:hover svg path {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__form {
  width: 80%;
  height: 75%;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 83.875em) {
  .footer__form {
    margin-bottom: 1.875rem;
    width: 100%;
  }
}

@media (min-width: 84em) {
  .footer__form {
    grid-area: form;
  }
}

.footer__form label {
  cursor: pointer;
  padding-bottom: 2%;
}

.footer__form input[type="text"],
.footer__form input[type="email"] {
  margin-bottom: 20px;
  width: 100%;
  height: 56px;
  font-size: 18px;
  font-weight: 400;
  padding-left: 5%;
  background: #f3f4f6;
  color: #3f4347;
  border-radius: 7px;
  border: none;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

@media (max-width: 83.4375em) {
  .footer__form input[type="text"],
  .footer__form input[type="email"] {
    width: 100%;
  }
}

.footer__form input[type="text"]:focus,
.footer__form input[type="email"]:focus {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  outline: 1px solid #151951;
}

.footer__form button {
  color: #ffffff;
  border: none;
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#151951), to(#5c629d));
  background: linear-gradient(to right, #151951, #5c629d);
  border-radius: 7px;
  font-weight: 300;
  font-size: 21px;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.footer__form button:hover {
  opacity: 0.7;
}

.footer__copyright {
  font-size: 0.8125rem;
  color: #151951;
}

.footer .primaryCta {
  overflow: hidden;
}

@media (min-width: 84em) {
  .footer .primaryCta {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.footer .primaryCta:hover {
  opacity: 0.8;
}

.footer .primaryCta button {
  padding: 1rem 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#151951), to(#3d6bc7));
  background: linear-gradient(to right, #151951, #3d6bc7);
  color: white;
  cursor: pointer;
  border: none;
}

.footer button {
  font-size: 1.25rem;
  line-height: 120%;
  border-radius: 15px;
}

.footer button:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */